@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
} 

:root{
    --c1: #e6dfdf;
    --c2: #f0d6d7;
    --c3: #e8c5c3;
    --c4: #e0aaa8;
    --c5: #dc9b99;
    --c6: #c6bcb0;
    --c7: #d2c3b4;
    --c8: #f5ebd2;
    --c9: #767676;
    --c10: #3f3033;
    --c11: #928275;
    --c12: red;
    --black: #000000;
    --white: #FFFFFF;
    --transparent-c1: rgb(232, 197, 195, 0.45);
    --button-hover-color: rgba(255, 159, 159, 0.9);
    --box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
    --hover-box-shadow: 8px 8px 8px 8px rgba(0, 0, 0, 0.25);
    --text-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

body, html {
    height:100vh;
    width: 100vw;
    margin:0;
    background-color: var(--c1);
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--black);
    cursor: pointer;
}

/*horizontal navigation bar*/

.navbar{
    box-sizing: border-box;
    background-color: var(--c2);
    position: fixed;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: 62px;
    display: flex;
    margin: 0 auto;
    padding: 0px 30px;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo-container{
    display: flex;
    width: 200px;
    margin: 0;
    align-items: center;
}

.nav-logo{
    width: 200px; 
    height: 34px;
}

.nav-logo:hover{
    opacity: 0.6;
}

.navbar .links{
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.3rem;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
    text-transform: uppercase;
}

.links .tabs:hover{
    border-bottom: 2px solid var(--black);
    cursor: pointer;
}

.icon{
    width: 20px;
    height: 20px;
}

.navbar .icon:hover{
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    transform: scale(1.2);
}

.navbar .dropdown-button{
    display: none;
}

.dropdown-menu {
    display: none;
    position: fixed;
    z-index: 2;
    height: 0;
    top: 62px;
    width: 100%;
    background-color: var(--c2);
    box-shadow: var(--box-shadow);
    overflow-y: scroll;
    transition: height 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 530px;
}


.dropdown-menu .dropdown-content{
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 0.5rem;
}

.dropdown-menu .dropdown-content li a{
    display: flex;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
    padding: 6px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.dropdown-menu .dropdown-content li a:hover{
    background-color: var(--button-hover-color);
    transform: scale(1.1);
}

/* dropdown shopping cart */
.sidebar-cart {
    position: fixed;
    width: 0;
    height: 100%;
    z-index: 2;
    top: 62px;
    right: 0;
    background-color: var(--c2);
    box-shadow: var(--box-shadow);
    transition: width 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.sidebar-cart .cart-content{
    height: 100%;
    padding: 20px 20px 30px 20px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.sidebar-cart #closeCartBtn{
    padding: 20px 0px 0px 20px;
}

.sidebar-cart #closeCartBtn:hover{
    cursor: pointer;
    transform: scale(1.3);
}

.sidebar-cart.open {
    width: 920px;
}

.sidebar-cart table{
    border-collapse: collapse;
    border-width: 50px;
}

.sidebar-cart table .bottom-line{
    border-bottom: 2px solid var(--c6);
}

.sidebar-cart table .top-line{
    border-top: 2px solid var(--c6);
}

.sidebar-cart table .thin-bottom{
    border-bottom: 1px solid var(--c6);
}

.sidebar-cart table .double-line{
    border-top: 4px double var(--c5);
    border-bottom: 4px double var(--c5);
}

.sidebar-cart table .box{
    text-transform: uppercase;
    padding: 8px;
    background-color: var(--c7);
    box-shadow: var(--box-shadow);
    margin: 4px;
    width: 100px;
    border-radius: 10px;
}

.sidebar-cart table .empty-container{
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.sidebar-cart table .empty-container .empty{
    width: 250px;
    height: 250px;
    display: flex;
    box-shadow: var(--box-shadow);
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--c1);
    border-radius: 100%;
}

.sidebar-cart table .empty-container .empty a{
    border-bottom: 1px solid var(--black);
    font-weight: bolder;
}

.sidebar-cart table .empty-container .empty a:hover{
    transform: scale(1.2);
}

.sidebar-cart table td{
    padding: 8px;
}

.sidebar-cart .sticky-buttons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
    height: 100px;
}

.sidebar-cart .empty-cart-icon{
    width: 100px;
    height: 100px;
}

.sidebar-cart .checkOut{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--c7);
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 16px;
    padding: 10px 15px;
    text-align: center;
    border: 1px solid var(--c10);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.sidebar-cart .checkOut:hover{
    cursor: pointer;
    opacity: 0.7;
}

/*home*/

.cover{
    width: 100%;
    z-index: -1;
    background-image: url("./source/background.jpeg");
    height: 100vh;
    background-size: cover;   
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: var(--box-shadow);
    background-attachment: fixed;
}

.cover-box {
    display: flex;
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(73, 61, 61, 0.25);
    box-shadow: var(--box-shadow);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    box-sizing: border-box;
}

.cover-box .logo{
    width: 200px;
    height: 200px;

}

.cover-box h1{
    text-transform: capitalize;
    font-family: cursive;
    font-size: 80px;
    color: var(--white);
    text-shadow: var(--text-shadow);
    padding: 0px;
    margin: 0;
    text-align: center;
}

.cover-box h2{
    color: var(--white);
    margin: 0;
    text-align: center;
    font-size: 18px;
    text-transform: capitalize;

}

.cover-box .button-container{
    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 120px;
    justify-content: center;
}

.cover-box .button-container a{
    width: 230px;
    height: 50px;
    display: flex;
    margin: auto;
    background-color: var(--c3);
    box-shadow: var(--box-shadow);
    text-shadow: var(--text-shadow);
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    text-transform: uppercase;
}

.cover-box .button-container a:hover{
    cursor: pointer;
    background-color: var(--c4);
    box-shadow: var(--hover-box-shadow);
}

/*contents*/

.contents{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.products-container{
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--c3);
    box-shadow: var(--box-shadow);
    border-radius: 20px;;
    margin: 20px 40px;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.products-container .text{
    width: 100%;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.contents .about-content{
    padding: 20px;
    font-size: 14px;
    text-align: justify;
}

.contents .about-content .float-left{
    float: left;
    width: 250px;
    height: 350px;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    margin: 0px 12px 12px 0px;
}

.contents .about-content .float-right{
    float: right;
    width: 150px;
    height: 220px;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    margin: 12px 0px 12px 20px;
}

.contents .about-content .float-right2{
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    margin: 12px 0px 12px 20px;
}

.products-container .text p{
    margin-top: 10px;
    text-shadow: var(--text-shadow);
    font-size: 30px;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 4px;
    letter-spacing: 5px;
}

.products{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0;
}

.products-img{
    width: 150px;
    display: block;
    height: 150px;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

.products-img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
    cursor: pointer;
}

.products-name{
    width: 100%;
    display: block;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    padding-top: 12px;
}

/*footer*/

footer{
    width: 100%;
    background-color: var(--c3);
    box-shadow: var(--box-shadow);
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow-x: scroll;
}

footer .container1{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

footer .container1 .social-media-container{
    box-sizing: border-box;
    justify-content: flex-start;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

footer .container1 .social-media-container .text{
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    align-self: center;
    justify-content: left;
    padding-left: 10px;
}

.social-media-container .icon{
    height: 100%;
    width:fit-content;
    box-sizing: border-box;
    flex-direction: row;
    margin: 0;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

footer .logo-container{
    height: 100%;
    width: 20%;
    padding-right: 8%;
    margin: 0;
}

.social-media-icon{
    width: 20px;
    height: 20px;
    display: flex;
    align-self: center;
}

.social-media-icon:hover{
    transform: scale(1.3);
    transition: transform 0.2s;
}

.footer-logo{
    width: 138px;
    height: 28px;
}

.container2{
    padding-top: 20px;
    display: flex;
    width: 100%;
    margin: 0;
}

.site-map-container{
    width: 50%;
}

.site-map-container .text{
    box-sizing: border-box;
    letter-spacing: 2px;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 30px;
    margin: 0;
    text-shadow: var(--text-shadow);
}

.site-map-container .hyperlinks{
    column-count: 2;
    column-gap: 10px;
    display: block;
    margin: 0;
    padding: 0px 0px 10px 30px;
}

.hyperlinks .sub-hyperlinks{
    margin-left: 14px;
}

.site-map-container .hyperlinks li .hyperlinks-icon{
    display: none;
}

.site-map-container .hyperlinks li a{
    font-size: 12px;
}

.site-map-container .hyperlinks li:hover .hyperlinks-icon{
    display: inline-block;
    width: 8px;
    height: 8px;
}

.site-map-container .hyperlinks li:hover{
    border-bottom: 0.5px solid var(--black);
    transform: scale(1.1);
    width: fit-content;
}

.contact-container{
    width:50%;
    padding: 0px 30px;
}

.address-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-container .text{
    box-sizing: border-box;
    letter-spacing: 2px;
    display: block;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 0px;
    margin: 0;
    text-shadow: var(--text-shadow);
}

.details-container{
 padding-left: 30px;
 font-size: 14px;
}
.business-hour-container{
    margin: 0;
    padding-top: 10px;
}

.business-hour-container .time-container{
    display: flex;
    flex-direction: row;
}

.business-hour-container .time-container .time{
    padding-left: 20px;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
}

.contact-us-container{
    margin: 0;
    padding-top: 10px;
}

.contact-us-container .contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contact-us-container .contacts .phone-mail{
    padding: 0px 0px 10px 30px;
    margin: 0;
    font-size: 14px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.contact-us-container .contacts .phone-mail li{
    display: flex;
    gap: 1rem;   
    align-items: center;
    flex-wrap: wrap;
}

.contact-us-products-container .contacts .phone-mail .icon{
    width: 12px;
    height: 12px;
}

.container3{
    width: 100%;
}

.container3 .dates{
    padding-top: 10px;
    width: 100%;
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.copyright-container{
    padding: 10px;
    border-top: 1px solid var(--black);
    font-size: 12px;
    text-align: center;
}

/*products page*/

.sorting-function{
    box-sizing: border-box;
    background-color: var(--c2);
    box-shadow: var(--box-shadow);
    padding: 10px 0px;
    margin: 0;
    flex-direction: row;
    justify-content: flex-start;
}

.sorting-function .search-and-filter{
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}

.sorting-function .search-container{
    height: 34px;
    margin: 8px 16px;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background-color: var(--c1);
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    flex-direction: row;
    display: flex;
}

.sorting-function .search-container:hover{
    cursor: pointer;
    opacity: 0.7;
}

.sorting-function .search-container .search-bar{
    background: none;
    width: 100%;
    margin-left: 16px;
    border: none;
    height: 70%;
}

.sorting-function .search-bar p{
   text-align: center;
   margin: 0;
   padding-left: 10px;
}



.sorting-function .categories{
    padding: 20px 0px;
    overflow: hidden;
}

.sorting-function .categories p:first-child{
    margin: 0;
    text-transform: capitalize;
    text-shadow: var(--text-shadow);
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
    flex-wrap: wrap;
    padding-bottom: 8px;
}

.horizontal-slide-bar{
    box-sizing: border-box;
    width: 100%;
    height: 230px;
    padding: 20px 20px;
    background-color: var(--c1);
    box-shadow: var(--box-shadow);
    overflow: hidden;
    margin: 0;
}

.horizontal-slide-bar .products-slide-bar{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px 10px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
    gap: 3rem;
    margin: 0;
}

.products-cover-container{
    padding-top: 62px;
    background-image: url(./source/products-background.JPG);
    height: 30%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.products-cover-container h1{
    text-transform: capitalize;
    color: var(--white);
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: 38px;
}

.products-with-price{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 15px 40px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    overflow: hidden;
}

.products-with-price > li{
    height: 360px;
    width: 360px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100%;
    background-color: var(--c4);
    box-shadow: var(--box-shadow);
}

.products-img2{
    width: 290px;
    height: 290px;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}

.products-details{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.products-price{
    padding-top: 6px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0;
}

.buy-now-button{
    display: none;
}


.products-with-price li:hover{
    cursor: default;
    transition-timing-function: ease-in;
}

.products-with-price li:hover .products-img2 {
    transition: opacity 0.3s, width 0.3s ease-in-out, height 0.3s ease-in-out; 
    opacity: 0.85;
    width: 230px;
    height: 230px;
}

.products-with-price li:hover .buy-now-button{
    display: flex;
    background-color: var(--c2);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: 100px;
    padding: 5px 30px;
    margin-top: 10px;
    cursor: pointer;
}

.products-with-price li:hover .buy-now-button:hover{
    transition: cubic-bezier(0.39, 0.575, 0.565, 1);
    background-color: var(--c6);
    box-shadow: var(--hover-box-shadow);
}

/* login pop out window */
#login-register-window{
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--transparent-c1);
    box-shadow: var(--box-shadow);
}

#login-register-container{
    width: 80%;
    height: 80%;
    border-radius:  60px;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: left;
    display: flex;
    background-image: url(./source/login-background.JPG);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 60px;
    transition: flex-direction 0.5s ease-in-out;
    box-shadow: var(--box-shadow);
}

#login-container{
    display: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 60px;
    height: 100%;
    background-color: var(--c1);
    padding: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-register-container .cross-icon{
    padding: 16px 0px 0px 50px;
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

#login-register-container .cross-icon .icon:hover{
    transform: scale(1.2);
    cursor: pointer;
}

#login-register-container #register-container .cross-icon{
    padding: 16px 50px 0px 0px;
    justify-content: flex-end;
}


#login-register-container .center-container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#login-register-container h1 {
    color: var(--c10);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

#login-register-container h1 .brand-name{
    font-size: 28px;
    font-weight: bolder;
}


#login-register-container h2{
    text-align: center;
    font-size: 12px;
    color: var(--c9);
}

#login-register-container .userinput-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    overflow: scroll;
}


#login-register-container .userinput-container .left-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 370px;
}

#login-register-container .userinput-container .left-container .ques-container{
    padding-bottom: 16px;
}

#login-register-container .userinput-container .left-container p{
    width: 100%;
    text-transform: capitalize;
    margin: 6px;
    font-size: 12px;
}

#login-register-container .userinput-container .left-container .userinput{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid var(--c10);
    background-color: var(--transparent-c1);
    box-shadow: var(--box-shadow);
}

#login-register-container .userinput-container .left-container .userinput:hover{
    cursor: pointer;
    opacity: 0.7;
}

#login-register-container .userinput-container .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#login-register-container .userinput-container .button-container .login-button{
    background-color: var(--c7);
    text-transform: capitalize;
    margin-top: 16px;
    padding: 4px 15px;
    width: 150px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--c10);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#login-register-container .userinput-container .button-container .login-button:hover{
    background-color: var(--button-hover-color);
}

#login-register-container .bottom-container {
    padding-top: 20px;
}

#login-register-container .bottom-container > p{
    margin: 0;
    text-transform: capitalize;
}

#login-register-container .bottom-container > p a{
    border-bottom: 1px solid var(--black);
}

#login-register-container .bottom-container > p a:hover{
    font-weight: bold;
}

#login-register-container .logo-container{
    margin: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

#login-register-container .logo-container .logo{
    width: 60%;
    height: calc(width);
}

#register-container{
    display: none;
    box-sizing: border-box;
    width: 100%;
    border-radius: 60px;
    height: 100%;
    background-color: var(--c1);
    padding: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#login-register-container #login_invalid_email, #login_invalid_password, #signup_invalid_firstname, #signup_invalid_lastname, #signup_invalid_email, #signup_invalid_dob, #signup_invalid_gender, #signup_invalid_phone, #signup_invalid_password{
    padding-top: 6px;
    font-size: 12px;
    display: none;
    color: var(--c12);
}

.recommendation-container{
    box-sizing: border-box;
    display: flex;
    padding: 0;
}

.recommendation-container .recommendation{
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: var(--c3);
    box-shadow: var(--box-shadow);
    border-radius: 20px;;
    margin: 20px;
    flex-wrap: wrap;
    padding: 10px 10px;
}


.recommendation-container .recommendation .text{
    width: 100%;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 18px;
}

.recommendation-container .recommendation .text p{
    margin-top: 10px;
    text-shadow: var(--text-shadow);
    font-size: 24px;
    color: var(--black);
    text-transform: capitalize;
    margin-bottom: 4px;
    letter-spacing: 1px; 
}

/* item page */

.item-container{
    box-sizing: border-box;
    width: 100%;
    padding: 80px 20px 20px 20px;
    background-color: var(--c1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: nowrap;
}

.item-container .item-left-container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--c3);
    border-radius: 30px;
    box-shadow: var(--box-shadow);
    width: 65%;
    flex-wrap: wrap;
}


.item-container .item-left-container p{
    text-align: justify;
}

.item-container .item-img-container{
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    border-radius: 30px;
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
}
.item-container .item-img-container .thumbnail-container{
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.item-container .item-img-container .thumbnail-container .thumbnail{
    width: 50px;
    height: 50px;
    box-shadow: var(--box-shadow);
    border-radius: 100%;
    cursor: pointer;
}
.item-container .item-img-container .thumbnail-container .thumbnail:hover{
    transform: scale(1.2);
    opacity: 0.7;
}

.item-container .item-img{
    width: 300px;
    height: 300px;
    border-radius: 120px 0px 120px 0px;
    box-shadow: var(--box-shadow);
}

.item-container .item-left-container .item-description{
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.item-container .item-left-container .item-description .tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    cursor: pointer;
    width: 60%;

}

.item-container .item-left-container .item-description .tabs h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: lighter;
    font-size: 18px;
    padding-bottom: 3px;
}

.item-container .item-left-container .item-description .tabs h1:hover{
    border-bottom: 3px solid var(--black);
    opacity: 0.5;
}

.item-description .about-tab{
    border-bottom: 2px solid var(--black);
}

.item-description .ingredient{
    display: none;
}

.item-description .details{
    display: none;
}

.item-description .about .about-main{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.item-description .about p{
    font-size: 14px;
    color: var(--c10);
}

.item-description .ingredient .ingredient-list{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 10px 20px;
}

.item-description .ingredient .ingredient-list li{
    list-style: upper-roman;
    background-color: var(--c1);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    padding: 10px;
    font-size: 14px;
}


.item-description .ingredient .ingredient-list .ing{
    font-style: italic;
    font-weight: bold;
}

.item-description .details .details-box{
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 14px;
}

.item-description .details .details-box p{
    padding: 8px 0px;
}

.item-description .details .details-box .heading{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.item-description .details .details-box .line{
    align-items: center;
    border-bottom: 2px solid var(--black);
    flex: 1;
    height: 13px;
    margin-left: 10px;
}

.item-description .details .details-box h1{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 22px;
}

.item-description .details .details-box ul > li{
    padding: 0;
    list-style: square;
}

.item-description .details .details-box ol > li{
    padding: 0;
    list-style: decimal;
    text-transform: capitalize;
    font-size: 14px;
}

.item-container .item-right-container{
    box-sizing: border-box;
    border-radius: 40px;
    background-color: var(--c6);
    box-shadow: var(--box-shadow);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 1;
    height: fit-content;
    width: 35%;
}

.item-right-container p{
    padding-bottom: 4px;
    font-style: italic;
    margin: 0;
    color: var(--c11);
    text-transform: capitalize;
    letter-spacing: 2px;
}

.item-right-container h1{
    text-transform: uppercase;
    color: var(--c10);
    text-shadow: var(--box-shadow);
    padding-bottom: 10px;
    margin: 0;
    letter-spacing: 2px;
}

.item-right-container .option-container{
    box-sizing: border-box;
    flex-direction: column;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-container h2{
    padding: 0px 0px 10px 0px;
    margin: 0;
    width: 100%;
    color: var(--c10);
    border-bottom: 2px solid var(--c9);
    letter-spacing: 2px;
}

.item-container h3{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: lighter;
    padding: 10px 0px;
    margin: 0;
    letter-spacing: 2px;
}

.option-container input[type="radio"]{
    display: none;
}

.option-container label{
    position: relative;
    border: 1px solid var(--c9);
    color: var(--c10);
    border-radius: 5rem;
    padding: 8px 22px;
    text-align: center;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

.option-container label:hover{
    opacity: 0.6;
}

.option-container input[type="radio"]:checked + label{
    color: var(--white);
    background-color: var(--c5);
    border: 2px solid var(--c5);
    border: none;
}

.item-right-container .quantity-addCart{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    border-top: 2px solid var(--c9);
    gap: 2rem;
    padding: 10px 0px 0px 0px;
    margin: 20px 0px 0px 0px;
    align-items: center;
}

.item-right-container .quantity-addCart .quantity{
    width: 100px;
    height: 30px;
    background-color: var(--c3);
    border-radius: 5rem;
    padding-left: 10px;
    box-shadow: var(--box-shadow);
}

.item-right-container .quantity-addCart .quantity:hover{
    opacity: 0.6;
}

.item-right-container .quantity-addCart .add-to-cart{
    width: 200px;
    height: 50px;
    background-color: var(--c3);
    border: 1px solid var(--c9);
    border-radius: 10px;
    padding-left: 10px;
    box-shadow: var(--box-shadow);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.item-right-container .quantity-addCart .add-to-cart:hover{
    background-color: var(--button-hover-color);
    
}

.item-container #invalid_shape, #invalid_size, #invalid_flavour{
    display: none;
    color: var(--c12);
    font-size: 12px;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    padding-top: 14px;
}

/* contacts page */

.contacts-box{
    background-color: var(--c1);
    padding: 80px 20px 20px 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: row;
}

.contacts-box .left-container{
    width: 30%;
    padding: 26px;
    background-color: var(--c4);
    box-shadow: var(--box-shadow);
    border-radius: 30px 0px 0px 30px;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-x: scroll;
}

.contacts-box .left-container p{
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    padding-bottom: 6px;
    border-bottom: 1px solid var(--c10);
}

.contacts-box .left-container .time-container{
    text-transform: uppercase;
    display: flex;
    gap: 12px;
    flex-direction: row;
    padding: 8px;
}

.contacts-box .left-container .phone-mail{
    padding: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.contacts-box .left-container .phone-mail li{
    display: flex;
    justify-content: center;
    gap: 6px;
}

.contact-form{
    padding: 26px;
    background-color: var(--c3);
    border-radius: 0px 30px 30px 0px;
    box-shadow: var(--box-shadow);
    color: var(--c10);
    flex: 1;
}

.contact-form .ques-container{
    padding: 18px 0px 0px 0px;
}

.contact-form h1{
    margin: 0;
    padding: 0px 0px 14px 0px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 30px;
    letter-spacing: 0.5rem;
}

.contact-form h2{
    font-size: 18px;
    margin: 0;
    padding: 4px 0px;
    font-weight: lighter;
}

.contact-form .strong{
    font-weight: 900;
    text-transform: uppercase;
}

.contact-form p{
    text-transform: capitalize;
    margin: 0;
    font-weight: 600;
    padding: 0px 0px 10px 8px;
}

.contact-form #contact_invalid_firstname, #contact_invalid_lastname, #contact_invalid_email, #contact_invalid_subject, #contact_invalid_message{
    padding-top: 8px;
    font-size: 12px;
    display: none;
    color: var(--c12);
}

.contact-form .userinput{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 14px;
    border-radius: 12px;
    border: 1px solid var(--c10);
    background-color: var(--c1);
    box-shadow: var(--box-shadow);
}

.contact-form .userinput:hover{
    cursor: pointer;
    opacity: 0.7;
}

.contact-form textarea{
    height: 120px;
}

.contact-form .submit-button{
    background-color: var(--c7);
    text-transform: capitalize;
    margin-top: 16px;
    padding: 4px 15px;
    align-self: center;
    border: 1px solid var(--c10);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.contact-form .submit-button:hover{
    cursor: pointer;
    opacity: 0.7;
}

/*for mobile*/
@media(max-width: 767px){
    .navbar .links{
        display: none;
        z-index: 2;
        margin-top: 62px;
        margin-left: 100px;
        flex-direction: column;
        height: 100vh;
        background-color: var(--c1);
        justify-content: flex-start;
        position: absolute;
        width: 300px;
        overflow: hidden;
    }

    .navbar .dropdown-button{
        display: block;
    }

    .dropdown-menu{
        display: block;
    }

    .cover-box .logo {
        height: 150px;
        width: 150px;
    }

    .cover-box h1 {
        font-size: 50px;
    }

    .container{
        display: none;
    }

    .small-vp{
        display: block;
        border-radius: 0px;
        box-sizing: border-box;
        width: 100%;
        margin: 20px 0px;
        background-color: var(--c3);
        box-shadow: var(--box-shadow);
        flex-wrap: wrap;

    }

    .site-map-container .hyperlinks{
        column-count: 1;
    }

    #login-register-container .logo-container{
        display: none;
    }

    #login-register-container .userinput-container .left-container{
        width: 100%;
    }

    .item-container{
        flex-wrap: wrap;
        padding: 80px 0px 20px 0px;
    }

    .item-container .item-left-container{
        overflow-x: scroll;
        width: 100%;
        border-radius: 0;
    }
    .item-container .item-img {
        width: 250px;
        height: 250px;
    }

    .item-container .item-right-container{
        margin: 0;
        border-radius: 0;
    }

    .item-container .item-left-container .item-description .tabs {
        flex-wrap: wrap;
        gap: 0rem;
    }

    .contacts-box{
        padding: 80px 0px 20px 0px;
        flex-direction: column;
        gap: 20px;
    }

    .contacts-box .left-container{
        width: 100%;
        border-radius: 0;
        box-sizing: border-box;
        gap: 30px;
    }

    .contacts-box .contact-form{
        border-radius: 0;
    }
}

@media(max-width: 920px){
    .sidebar-cart.open {
        width: 100%;
        overflow: scroll;
    }
}

/*for tablet*/
@media(max-width: 1023px){
    .products-with-price > li{
        height: 280px;
        width: 280px;
    }

    .products-img2{
        width: 200px;
        height: 200px;
    }

    .products-with-price li:hover .products-img2 {
        width: 160px;
        height: 160px;
    }

    .products-with-price li:hover .buy-now-button{
        padding: 2px 20px;
        margin-top: 10px;
    }
}

/*for full screen laptop*/
@media(max-width: 1439px){
    .navbar .links .medium-vp{
        display: none;
    }

    .navbar .links{
        gap: 2rem;
    }
}